<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1Api

    </title>
</head>
<body>
    <h1>F1Api</h1>
        <a href="/swagger-ui/index.html">
            <input type="button" value="Documentación">
        </a>
        <a href="/constructor">
            <input type="button" value="Contructores">
        </a>
        <a href="/driver">
            <input type="button" value="Drivers">
        </a>
        <a href="/race">
            <input type="button" value="Races">
        </a>
</body>
</html>